    <div class = "ham-menu" id = "ham-menu">
      <div class="modal">
        <div class = "colse-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
          <a href = "/" class = "contents-title-modal">ALL</a>
          <%=link_to "MUSIC","/posts/show",class:"contents-title-modal"%>
          <a href = "#" class = "contents-title-modal">DESIGN</a>
          <a href = "#" class = "contents-title-modal">RIDER</a>
          <a href = "#" class = "contents-title-modal">DIGITAL</a>
          <a href = "#" class = "contents-title-modal">ABOUT</a>
          <a href = "#" class = "contents-title-modal">CONTACT</a>
      </div>
    </div>