  <div class = "main-header">
    <div class = "icons">
      <%= image_tag("$ek19uch12.png", class: "logo") %>
    </div>
    <nav class = "main-menu-list">
      <a href = "/" class = "contents-title">ALL</a>
      <a href = "#" class = "contents-title">MUSIC</a>
      <a href = "#" class = "contents-title">DESIGN</a>
      <a href = "#" class = "contents-title">RIDER</a>
      <a href = "#" class = "contents-title">DIGITAL</a>
      <a href = "#" class = "contents-title">ABOUT</a>
      <a href = "#" class = "contents-title">CONTACT</a>
    </nav>
    <div id = "hamburger">
      <span class="fas fa-bars menu-icon" href = "#"></span>
    </div>
  </div>