<div class = "main-index">

  <div class = "main-header">
    <div class = "icons">
      <i class="fas fa-at"></i>
      <i href = "#" class="fas fa-search" ></i>
    </div>
    <%= image_tag("$ek19uch1.png", class: "logo") %>
    <div class = "main-contents-container">
      <a href = "#">ALL</a>
      <a href = "#">MUSIC</a>
      <a href = "#">DESIGN</a>
      <a href = "#">KAMENRIDER</a>
      <a href = "#">DIGITAL</a>
      <a href = "#">WORKS</a>
    </div>

  </div>

  <div class = "slider-container">
    <%= image_tag("supermarionation.jpg", class: "slider-image") %>
  </div>
  <div class = "contents-container">
    <div class = "contents-box">
    </div>
    <div class = "contents-box">
    </div>
    <div class = "contents-box">
    </div>
    <div class = "contents-box">
    </div>

  </div>

  <div class = "footer">$ek19uch1</div>
</div>