<div class="form">
      <div class="form-body">
        <textarea name = "main_title"></textarea>
        <textarea name = "sub_title"></textarea>
        <textarea name = "content"></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>