<div class = "main-wrapper">
  <%= render partial: "shared/header"%>
  <%= render partial: "shared/hamburger"%>
  <%# breadcramb -----------------------------%>
  <%# --------------------------------------- %>
  <div class = "genre">Category:drink</div>
  <h3 class = "date">2019.11.14</h3>
  <h1 class = "contents-title-show">ロヂウラ探索</h1>
  <h2 class = "sub-title">日本のロヂウラは、呑んでも呑んでも呑み足りないっ！</h2>

  <div class = "contents">
    <div class = "contents-image">
      <%= image_tag("DOD.png") %>
    </div>
    <div class = "contents-text">
      【ダミーテキスト】あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、
      うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
　    またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、
      羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、
      いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい
      青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、
      しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。
    </div>
  </div>
    <%# --------------------------------------------------- %>



  <%# ----------------------------------------------------------- %>
    <%= render partial: "shared/footer"%>
</div>





























</>