<div class = "main-wrapper">
  <%= render partial: "shared/header"%>
  <%# breadcramb -----------------------------%>
  <%# --------------------------------------- %>
  <div class = "genre">drink</div>
  <h1 class = "contents-title">ロヂウラ探索</div>
  <h3 class = "date">date000000</h3>
  <h2 class = "sub-title">subtitlesubtitle</h2>

  <div class = "contents">
    <div class = "contents-image">
      <%= image_tag("DOD.png") %>
    </div>
    <div class = "contents-text">
      メインコンテンツ詳細テキストです
    </div>
    <%# --------------------------------------------------- %>



  <%# ----------------------------------------------------------- %>
    <%= render partial: "shared/footer"%>
  </div>





























</h1>