.contents-title-show{
  text-align: center;
  font-size: 2.5rem;
}

.genre{
  margin-left: 10%;
  margin-top: 3rem;
}

.date{
  font-weight: nomal;
  font-size: 0.5rem;
  margin-left: 10%;
}

.sub-title{
  font-size: 1rem;
  text-align:center;
}

.contents-image{
  img{
    width: 50%;
    display:block;
    margin: 0 auto;
  }
}

.contents-text{
  margin-top:3rem;
  line-height: 140%;
}