// 変数----------------------------
$BGC: #f7f7f7;

// タブレット用ブレイクポイント--------
@media(max-width: 1000px){
    .main-header{
      width: 50%;
      font-size: 12px;
    }

    .slider-container{
      width: 50%;
      .slider-image{
        width: 50%;
      }
    }
    .contents-container{
      .contents-box{
        width: 50%;
    }
  }
}

// スマホ用ブレイクポイント-----------
@media(max-width: 670px){
  .main-header{
    width: 25%;
  }
  .main-menu-list{
    display: none;
  }
  .far{
    display:none;
  }

  .menu-icon{
    display: block;
  }

}
//--------------------------------

*{
  box-sizing: border-box;
}

.main-index{
  margin: 0 auto;
  width: 80%;
}

.main-header{
  height: auto;
  background-color: $BGC;
  padding: 15px 0 0 0;
  margin: 0 0 15px 0;
  .logo{
    display: block;
    width: 30%;
    margin: 0 auto;
  }
  .icons{
    width: 100px;
    margin: 0 0 0 auto;
  }
  .fas, .far {
    font-size: 20px;
    margin: 0 0 0 10px;
    text-decoration: none;
    color: black;
  }
  .far:hover{
    background-color: black;
    color: $BGC;
  }
}
.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.main-menu-list{
  width: auto;
  margin: 15px auto;
  text-align: center;
  .contents-title{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.3s;
    padding: 0 3px;
  }
  .contents-title:hover{
    background-color: black;
    color: $BGC;
  }
}
.slider-container{
  margin: 0 0 10px 0;
  width: 100%;
}
.slider-image{
  width: 100%;
  margin: 0 auto;
}
// -------------------------------------------
.contents-container{
  display:flex;
  flex-wrap: wrap;

  .contents-box{
    padding : 2px;
    width: 25%;
    height: 300px;
    background-color: $BGC;
    transition: 0.3s;
    border: solid 2px white;
  .contents-box:hover{
    opacity: 0.8
  }
    .thums{
      display:block;
      height: 80%;
      margin: 5px auto
    }
  }
}





.footer{
  margin: 10px 0 0 0;
  background-color: $BGC;
  height: 300px;
  p{
    font-size: 5px;
    text-align:center;
  }

}