// 変数----------------------------
$BGC: #f7f7f7;

//--------------------------------
*{
  box-sizing: border-box;
  background-color: $BGC;
}

a{
  text-decoration: none;
  color: inherit;
}
//--------------------------------
.main-wrapper{
  margin: 0 auto;
  width: 70%;
}

.main-header{
  height: auto;
  background-color: $BGC;
  padding: 25px 0 0 0;
  margin: 0 0 15px 0;
  .logo{
    display: block;
    width: 30%;
    margin: 0 auto 20px;
  }

}
//スマホ表示用----------
.fa-bars{
  text-align: center;
  font-size: 25px;
  // padding: 21px 0;
  display: none;
}
//--------------------

//--------------------------

//hamburger

nav{
  width: 100%;
  height: 70px;
  position: relative;
  background: #F6F6F6;
 }
 .drawer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
 }

 //----------

 .navbar_toggle{
  z-index:9999;
 }
 .navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #5c6b80;
  -webkit-transition: ease .5s;
  transition: ease .5s;
 }
 .navbar_toggle_icon:nth-child(1) {
  top: 0;
 }
 .navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
 }
 .navbar_toggle_icon:nth-child(3) {
  top: 0;
 }
 /*OPEN時の動き*/
 .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
 }
 .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
 }
 .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
 }

 .menu{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition:ease .5s;
  transition:ease .5s;
  z-index:1000;
 }
 .menu ul li{
  padding: 2em;
  border-bottom: 1px solid #CCC;
 }
 /*OPEN時の動き*/
 .menu.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
 }
//--------------------------

.main-menu-list{
  width: 100%;
  margin: 15px auto;
  text-align: center;
  .contents-title{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.3s;
    padding: 0 3px;
    letter-spacing: 1px;
  }
  .contents-title:hover{
    background-color: black;
    color: $BGC;
  }
}
.slider-container{
  margin: 0 0 10px 0;
  width: 100%;
}
.slider-image{
  width: 100%;
  margin: 0 auto;
}

// -------------------------------------------
.contents-container{
  display: flex;
  flex-wrap: wrap;
  .contents-box{
    padding : 2px;
    width: 25%;
    height: 300px;
    background-color: $BGC;
    transition: 0.3s;
    border: solid 2px white;
    .thums{
      display:block;
      width: 80%;
      height: 80%;
      object-fit: contain;
      margin: 5px auto
    }
  }
}

.footer{
  margin: 10px 0 0 0;
  background-color: $BGC;
  height: auto;
  p{
    font-size: 5px;
    text-align:center;
  }
}

// ---------------------------------
.ham-menu{
width: 600px;
height:900px;
background-color: blue;
display: none;


}